*{
    margin: 0;
    padding: 0;
}

:root {
    --branco-titulo-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-titulo-principal);
}

.principal{
    background-image: url('assets/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
   
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% ;
}

.links__section{
    background-color: var(--botao-azul);
    color: var(--branco-titulo-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
   
    
   
}

.container_botao_botao_secundario{
    background-color: transparent;
    color: var(--branco-titulo-principal);
    border: 2px solid var(--branco-titulo-principal);
    border-radius: 5px;
    text-decoration: none;
}

.links__section:hover{
    text-decoration: underline;
    background-color: #167bf7;
   
}